body {
    margin: 0;
    padding: 0;
  }
  
  
  .table2{
    margin: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  table {
    width: 80%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  .folder-icon2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 24px;
  }

  .folder-icon2 span {
    display: block;
    font-size: 14px;
  }

  .checkbox-col {
    width: 50px;
  }
  .folder-col {
    width: 50px; 
  }
  .item-col, .date-col {
    width: 25px; 
  }